
li {
  background-color: rgba(189, 217, 217, 0.661);
}

h2 {
  color: #ee62dcfc;
   background-color: rgba(35, 33, 34, 0.738);  
}

body {
  background-color: rgba(48, 47, 45, 0.896);
}

h1 {
  /* background-color: hsl(60, 2%, 50%); */
}

p {font-size: larger;
  font-weight: lighter;
  color: white;
  line-height: 2;
  word-spacing: normal;
}

h1 {
  /* font-size: 2rem; */

  font-family: Arial, Helvetica, sans-serif;
}

h2 {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.2em;
padding: 10px;
color: #eb4dc3;
}

table tr {
  border: 1px solid white;
}

table td {
  border: 1px solid white;
}

li:first-of-type {
  color: rgb(0, 9, 0);
  text-transform: uppercase;
}

table td {
  height: 50px;
  color: #0a0808;
  font-size: larger;
}

table th {
  text-align: center;
  height: fit-content;
  color: ghostwhite;
}

img {
  border-color: rgb(218, 216, 221);
  border-width: 20px;
  box-shadow: 1px 1px 1px 5px rgb(0, 0, 0, 0.2);
  object-fit: cover;
  object-position: auto;
}

p a {
  color: rgb(214, 206, 232);
  font-size: medium;
}

h1 {
  margin: 1em;
  height: 50%;
  display: flex;
}

a {
  text-decoration: none;
  color: #e7f5e7;
}

 {
  box-sizing: border-box; /* Uses border-box in all elements. */
}

body {
  line-height: 2; /* Increases the line height for better readability. */
  margin: 2rem;
  padding: 2rem;
  border: 2px solid hsla(300, 47%, 3%, 0.884);
  display: block;
}

h2,
h3 {
  padding-bottom: 1rem; /*  Applies padding below headers to provide spacing and ensure content doesn't feel cramped. */
}

/* Adjusts form elements to capture same look and feel. */
form input,
form textarea,
form select {
  padding: 0.1rem 0.2rem;
  color: #141514;
  border: 2px dotted #eb4dc3;
  background-color: hsl(321, 32%, 91%);
}

h1,
h2 {
  justify-content: center;
}


 nav{ display: flex; 
justify-content: space-between;
align-items: center;}

div {display: flex;
justify-content: space-between;
align-items: center;
padding: 1em;}

h3 {color: #eb4dc3; text-shadow: pink; background-color:rgb(29, 28, 29);
  text-align: center;
}
 
caption {font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.2em;
padding: 10px;
color: #eb4dc3;}

.name-container {font: bold;
color: #e7f5e7;}

